
.controls__container {
    display: flex;
    flex-direction: row;
}

.controls__buttons {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0 0;
    vertical-align: middle;
    height: 28px;
    filter: drop-shadow(0 0 3px #30303050);
}

.controls__buttons a {
    background-color: var(--bright-color);
    height: 28px;
    padding: 0 0.5rem;
    color: white;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}
.controls__buttons a:hover {
    background-color: var(--dark-color); 
}

.controls__currentphoto {
    padding: 0 0.5rem;
    font-size: 1rem;
    color: var(--dark-color);
    vertical-align: middle;
}

.scrore__tries__container {
  width: 100px;
  background-color: var(--light-grey-color); 
  filter: drop-shadow(0 0 3px #30303050);
  margin-bottom: 1rem;
  border: 2px solid var(--bright-color);
  height: 28px;
}

.scrore__tries__bar {
    background-color: var(--bright-color);
    height: 24px;
}

.scrore__tries__text {
  text-align: left;
  color: var(--dark-color);
  padding: -0 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  vertical-align: middle;
}