/* Countries and Cities ////////////////////////////////////////// */

.countries {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    min-width: 100%;
    max-width: var(--box-width);
    padding: 0;
    margin: 0 0 1.5rem 0;
    -webkit-overflow-scrolling: initial;
}


.country__button-none, .country__button-selected {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    list-style: none;
    background-color: var(--bright-color);
    margin: 0.3rem;
    border-radius: 0.3rem;
    filter: drop-shadow(0 0 3px #30303050);
    color: white;
}

.country__button-none {
    background-color: var(--bright-color);
}

.country__button-selected, .country__button-none:hover {
    background-color: var(--dark-color);
}