.city__loading-ring {
    z-index: 5;
    display: inline-block;
    position: absolute; // relative;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 0;
    margin: 64px 0;
    padding: 64px 0;
    margin-left: -32px;

    & div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid rgb(26, 159, 0);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: rgb(26, 159, 0) transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
