:root {
    --main-txt-color:  #0a0a0a;
    --light-color: rgb(250, 250, 231);
    --bg-color:rgb(250, 250, 231);
    --bright-color:rgb(26, 159, 0);
    --dark-color: rgb(15, 87, 0);
    --header-color: rgb(26, 159, 0);
    --shadow-color: rgba(92, 58, 70, 0.639);
    --wrong-color: rgba(255, 38, 0);
    --light-grey-color:  #ddd;
    --dark-grey-color:  #aaa;
    --main-padding: 1rem;
 }
  
* {
    box-sizing: border-box; /* inherit; */
}


html {
    scroll-behavior:smooth;
    /* background-color: var(--bg-color); */
    background-color: var(--bg-color);
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: 0.05rem;
    background-color: var(--bg-color);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: url("popcorn-bg-smaller-brighter.png");
}

.loading-message {
    padding: 5rem 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--bright-color);
    filter: drop-shadow(3px 3px 5px rgb(255, 255, 255));
}

/* HEADER ////////////////////////////////////////// */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    vertical-align: bottom;
    background-color: var(--header-color);
}

.header__title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;
    margin: 0;
    list-style: none;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
}

.header__title-light {
    float: left;
    font-style: inherit;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    font-weight: 700;
    color: #fff;
}

.header__title-light li {
    font-size: 1rem;
}
  
.header__title-dark {
    font-style: inherit;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    font-weight: 400;
    font-size: 1rem;
}

.fade {
     -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* ROOT /////////////////////////////////////////////*/


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
    margin: 0;
    padding: 0;
}


.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.intro-message {
    padding: 1rem 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: var(--bright-color);
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

/* Countries and Cities ////////////////////////////////////////// */

.countries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    padding: 0;
    margin-bottom: 1rem;
}

.country__button-none, .country__button-selected {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    list-style: none;
    background-color: var(--bright-color);
    margin: 0.3rem;
    border-radius: 0.3rem;
    filter: drop-shadow(0 0 3px #30303050);
    color: white;
}

.country__button-none {
    background-color: var(--bright-color);
}

.country__button-selected, .country__button-none:hover {
    background-color: var(--dark-color);
}

.city__photos__list-img {
    padding: 0;
    margin: 0;
    padding-top: 67%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 350px;
    border-radius: 0.3rem;
    filter: drop-shadow(0 0 5px #30303050);
    cursor: default;
    border: 1rem solid white;
}

.city__photos {
    max-width: 350px;
}

.city__photos__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.city__photos__list ul {
    padding: 0;
    margin: 0;
}

.city__photos__list li {
    list-style: none;
    display: block;
}

.city__photos__list li:hover {
    cursor: pointer;
}

/* CONTROLS AND CHOICES ////////////////////////////////////////// */


.controls__container {
    display: flex;
    flex-direction: row;
}

.controls__buttons {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0 0;
    vertical-align: middle;
    height: 28px;
    filter: drop-shadow(0 0 3px #30303050);
}

.controls__buttons a {
    background-color: var(--bright-color);
    height: 28px;
    padding: 0 0.5rem;
    color: white;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}
.controls__buttons a:hover {
    background-color: var(--dark-color); 
}

.controls__currentphoto {
    padding: 0 0.5rem;
    font-size: 1rem;
    color: var(--dark-color);
    vertical-align: middle;
}

.scrore__tries__container {
  width: 100px;
  background-color: var(--light-grey-color); 
  filter: drop-shadow(0 0 3px #30303050);
  margin-bottom: 1rem;
  border: 2px solid var(--bright-color);
  height: 28px;
}

.scrore__tries__bar {
    background-color: var(--bright-color);
    height: 24px;
}

.scrore__tries__text {
  text-align: left;
  color: var(--dark-color);
  padding: -0 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  vertical-align: middle;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.choices {
    border-radius: 0.3rem;
    line-height: 2rem;
    text-align: center;
    background-color: #fff;
    min-width: 350px;
    margin: 1rem 0;
    filter: drop-shadow(0 0 3px #30303050);
}

.choices__header {
    padding: 1rem 1rem;
    background-color: var(--bright-color);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.choices__body {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 0.5rem 1rem 0.5rem 0;
}

.choices__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 0 0 1rem;
}

.choices__col-button, .choices__correct, .choices__wrong {
    border-radius: 0.3rem;
    padding: 0.2rem 0.2rem 0.2rem 0.7rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: white;
}

.choices__col-button {
    background-color: var(--light-grey-color);
    color: var(--dark-color); 
}

.choices__col-button:hover {
    background-color: var(--dark-grey-color);
}

.choices__correct {
    background-color: var(--bright-color);
}

.choices__wrong {
    background-color: var(--wrong-color);
}

/* FOOTER ////////////////////////////////////////// */

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0 0 0;
    font-size: 1rem;
    line-height: 2rem;
    background-color: var(--bright-color);
    color:white;
    padding: 0;
    border: 0;
  }
  
  .footer__contact {
    text-align: center;
    border: 0;
  }

  .pad-top {
    padding-top: 2.5rem;
  }

  .pad-bottom {
    padding-bottom: 2.5rem;
  }
  
  .footer__contact a {
    font-weight: 700;
    padding: 0.2rem 0.3rem 0.1rem 0.3rem;
    text-decoration: none;
  }
  
  .footer__contact a:link, 
  .footer__contact a:visited {
    background: var(--dark-color);
    color: var(--bright-color);
  }
  
  .footer__contact a:hover {
    text-decoration-line: none;
    background:  var(--dark-color);
    color:white;
  }




  @media (min-width: 768px) {
 
    #root {
        min-height: auto;
    } 

    .results-list, input {
        width: 100%;
        min-width:350px;
        max-width:350px;
    }

    .results-pages {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
   
    .app {
        display: flex;
        flex-direction: column;
        vertical-align: top;
        padding: 0;
        margin: 0;
    }

    h3 {
        margin-top: 2em;
    }
    
}